@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  background-color: #001b10;
  color: white;
}

.img1{
  background-image: url("http://www.clker.com/cliparts/B/3/w/G/n/Y/orange-sticky-hi.png");
}
